
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 350px;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
text-align: center;
padding: 5px;
    }
    .text-small{
text-align: center;
padding: 0;
    }
    .buttons{
text-align: center;
    }
    .logo img {
        width: 10%;
    }
    .firstsection{
        height: 80vh;
    }
    .paras{
        padding: 0 0px;
    }
    .thumbnail img{
        width: 150px;
    }
    .form-input {
        margin: 8px 2px;
        padding: 5px 3px;
        width: 100%;
        font-size: 18px;
        border-radius: 6px;
    }
    .form {
        max-width: 900px;
        margin: 25px 25px;
    }
    .services {
        font-size: 20px;
    }
    .contact {
        background-color: antiquewhite;
        height: 570px;
    }
    .foot{
        font-size: 16px;
    }
}